/* styles.css */
.page-container {
  background-color: white;
  color: white;
  text-align: center;
  padding: 20px;
}

.video-container {
  position: relative;
  display: inline-block;
}

.video-container video {
  width: 100%;
  height: auto;
  
}

.language-buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
  
}

.language-buttons button {
  background-color: #333;
  border: none;
  padding: 11px 20px;
  border-radius: 0;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  position: relative;
  left: 10%;
  top: -220%;
  z-index: 10;

}

.language-buttons button:hover {
  background-color: #2a7a8d;
  transform: scale(1.1);
}

.black-strip {
  width: 100%;
  height: 46px;
  /* background-color: rgb(42, 122, 141,0.9); */
  background-color: rgba(167, 132, 93, 0.4);
  /* margin-top: 10px; */
  z-index: 5;
  position: relative;
  top: -12.3%;
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.language-buttons button:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
